.vp {
  height: 100%;
  width: 100%;
}

.pay-bar {
  background-color: var(--bg-secondary);
  display: flex;
  justify-content: center;
  padding: .5rem;
}

.container {
  height: 80%;
}

.pay-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  margin: 1rem;
}

.pay-info {
  
}

.pay-btn {
  border: none;
}